* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}


body { 
    font-family: "Play", sans-serif;
    background-color: #F2F2F0;
    text-align: center;
}

h1 {
    font-family: 'Russo One', sans-serif;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 5vw;
    margin-bottom: 5vw;
    text-decoration: underline;
    text-decoration-color: #62C1F5;
}

header {
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 10%;
    margin-bottom: 15vw;
}

button {
    background-color: #62C1F5;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #000;
    color: #62C1F5;
    transition: all 0.3s ease 0s;
}

a, button {
    text-decoration: none;
    font-family: "Play", sans-serif;
    color: #000;
    align-items: center;
}

a:hover {
    color: #62C1F5;
    text-decoration: none;
}

.title h1 {
    text-align: center;
    font-size: 80px;
    margin-bottom: 0;
    font-family: 'Russo One', sans-serif;
}   

.quote {
    text-align: center;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    padding-bottom: 20vw;
}

.swappable .orig { 
    display: none; 
}

.swappable:hover .orig { 
    display: inline-block;
    color: #F2F2F0;
    transition: all 0.3s ease 0s;
}

.swappable:hover .update { 
    display: none;
    transition: all 0.3s ease 0s;
}

.swappable { 
    position: relative;
}

.swappable::after {
    content: "";
    position: absolute;
    background-color: #62C1F5;
    height: 5px;
    width: 100%;
    left: -3px;
    top: 70%;
    z-index: -1;
    transition: transform 250ms;
    transform-origin: bottom left;
}

.swappable:hover::after,
.swappable:focus::after {
    transform: scale(1.075, 8.5);
    transition: all 0.3s ease 0s;
}

#about {
    align-items: center;
    background-color: #E5C4F5;
    padding: 1vw;
}

.about-us {
    align-items: center;
}

.about-wording {
    display: block;
    align-items: center;
    padding: 0 10vw;
    font-size: 2vmax;
    line-height: 1.5;
}

.about-wording a {
    text-decoration: underline;
    text-decoration-color: #62C1F5;
}



.about-image {
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    display: inline-flex;
    margin: 1vw -2vw 5vw -1vw;
    border-radius: 100%;
    filter: drop-shadow(-1.2vw 0px 0px #62C1F5);
    object-fit: cover;
}


#events {
    background-color: #F5ECE1;
    padding: 10vh;
    margin: 0;
}

.event p {
    margin-bottom: 5rem;
}

.event h4 {
    margin: 0.5em;
}


.event h3 {
    margin: 0;
    font-size: 2.25rem;
}

.about-us {
    margin-bottom: 10vw;
}

#featured {
    background-color: #fff;
    padding: 5vw 2vw 10vw 2vw;
}

.container {
    position: relative;
    max-width: 100%;
    max-height: 50%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.container .box {
    position: relative;
    width: calc(100vw - 1vw);
    height: calc(25vw - 1vw);
    background-color: #62C1F5;
    float: left;
    margin: 1vw;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .images {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.container .box .images img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .box:hover .images {
    opacity: 0.075;
}

.container .box .content {
    width: 100%;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
}

#contact {
    background-color: #62C1F5;
    padding: 2em;

}

.contact-us h2 {
    font-size: 50px;
    margin-bottom: 1em;
    text-decoration-color: #F5ECE1;
}

.contact-us button {
    background-color: #F5ECE1;
    margin: 2em;
}

.contact-us button:hover {
    background-color: #000;
    color: #62C1F5;
    transition: all 0.3s ease 0s;
}

label {
    display: block;
    padding: 1rem 0 0 0.5rem;
    font-family: "Russo One", sans-serif;
    font-size: 22px;
    letter-spacing: 1.25;
}

input {
    display: flex-block;
    width: 700px;
    height: auto;   
    border-radius: 10px;
    padding: 10px;
    margin: 1rem;
}

@media only screen and (max-width: 700px) {
    
}
    
}